<div class="container">
  <%= @user.email %><br>
  <%= link_to "Show User Surveys", user_surveys_path(@user), :id => "show-survey" %>
  <div id="user-created-surveys">

  </div>

  heelloo
  <div id="user-participated-surveys">

  </div>
  <script type="text/x-handlebars-template" id="user-surveys-template">
    {{>survey-partial}}
  </script>
  <!-- templates for 2 types of surveys -->
  <script type="text/x-handlebars-template" id="survey-partial-template">
    <ul>
      {{#each this}}
        <li>
          {{id}} - {{title}} - {{description}}
        </li>
      {{/each}}
    </ul>
  </script>
</div>
