<div class="container">
  <h1 class="page-header"><%= current_user.email %>'s  Profile</h1>
  <%= link_to "My Survey List", user_surveys_path(@user), :id => "show-surveys", :class => 'btn btn-primary' %>
  <%= link_to "My Survey Details", user_survey_path(@user, 1), :class => 'btn btn-primary' %>
  <div id="user-created-surveys">

  </div>

  <div id="user-participated-surveys">

  </div>

  <script type="text/x-handlebars-template" id="user-surveys-template">
    {{>survey-partial}}
  </script>
  <!-- partial surveys -->
  <script type="text/x-handlebars-template" id="survey-partial-template">
      <h3 style="text-align: center;" class="page-header">{{title}}</h3>
        <table class="table table-striped table-sm">
          <thead>
            <th scope="col"></th>
            <th scope="col">Survey Title</th>
            <th scope="col">Survey Description</th>
            <th scope="col">Created</th>
          </thead>
          <tbody>
            {{#each surveys}}
              <tr>
                <th scope="row">{{inc @index}}</th>
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>{{created}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>

  </script>
</div>
