<%= title "Edit Survey" %>
<div class="container">
  <div class="clearfix">
    <div class="publish">
      <%= button_publish(@survey)%>
    </div>

    <div class="new-form">
      <%= render 'new_survey_form' %>
    </div>
  </div>
</div>
