<div class="container">
  <ul>
    <% @surveys.each do |survey| %>
      <li><%= link_to survey.title, survey_path(survey) %></li>
    <% end %>
  </ul>
  <%= link_to "Add Survey", new_survey_path(@survey) %>
</div>
