<div class="container">
  <ul>
    <% @surveys.each do |survey| %>
      <% if user_signed_in? && survey.creator_id == current_user.id %>
        <li><%= link_to survey.title, survey_path(survey) %></li>
      <% else %>
        <li><%= link_to survey.title, take_survey_path(survey) %></li>
      <% end %>
    <% end %>
  </ul>
  <% if user_signed_in? %>
    <%= link_to "Add Survey", new_survey_path(@survey) %>
  <% end %>
</div>
