@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "my_formtastic_changes";


* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  margin-bottom: -120px;
}

#wrap:after {
  content: "";
  display: block;
}

#main {
  overflow: auto;
  padding-bottom: 120px;
  /* must be same height as the footer */
}
.footer, #wrap:after {
  height: 120px;
}

.footer {
background-color: #edf3f7;
margin-top: 24px;
padding-top: 20px;
padding-bottom: 20px;
}

.bottom-footer {
 border-top: 1px solid #b2b2b2;
 margin-top: 10px;
 padding-top: 10px;
 color: #b2b2b2;
}

.copyright {
 text-align: center;
}

.footer-nav {
 text-align: right;
 list-style: none;
}

.footer-nav li {
 display: inline;
}

.footer-nav a:hover {
 color: #333;
 text-decoration: none;
}

.footer-nav li:not(:first-child):before {
 content: '|';
 padding: 0px 10px;
}

.survey-list {
 list-style: none;
}

.survey-button {
  margin: 0 2px 0 2px;
  padding: 5px;
}

.survey-button button {
  margin: 5px;
}

.created_at {
   float: right;
}

fieldset.inputs li {
  list-style: none;
  margin-left: 15px;
  padding: 10px;
  display: block;
}

fieldset.actions li {
  list-style: none;
  margin-left: 15px;
  padding: 10px;

}

.form-control {
  margin-top: 10px;
}
